body{
    background-color: var(--main-bg-color);
    height: 100vh;
}

*{
    color: var(--main-font-color);
}

a{
    color: oklch(62.3% 0.214 259.815);
}

.main-border{
    border: 1px solid var(--main-border-color);
}

.main-border-bottom{
    border-bottom: 1px solid var(--main-border-color);
}

.main-bg-color-dark{
    background-color: var(--main-bg-color-dark);
}

.main-bg-color-light{
    background-color: var(--main-bg-color-light);
}

.main-hr{
    border-bottom: 1px solid var(--main-border-color);
    margin: 0;
}

.main-darker-font-color{
    color: var(--main-darker-font-color);
}

.main-dark-font-color{
    color: var(--main-dark-font-color);
}

.main-smaller-fs{
    font-size: var(--smaller-font-size);
}

.main-small-fs{
    font-size: var(--small-font-size);
}

.main-normal-fs{
    font-size: var(--normal-font-size);
}

.main-bigger-fs{
    font-size: var(--bigger-font-size);
}

.main-accent-color{
    color: var(--main-accent-color);
}

.main-light-accent-color{
    color: var(--main-light-accent-color);
}

.main-big-fs{
    font-size: var(--big-font-size);
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}