:root {
    --main-bg-color: oklch(21.8% 0.008 223.9);
    --main-bg-color-light: oklch(27.5% 0.011 216.9);

    --main-border-color: oklch(37.8% 0.015 216);

    --main-font-color: oklch(98.7% 0.002 197.1);

    --main-accent-color: oklch(79.2% 0.209 151.711);
}