{% extends 'global/base.html' %}
{% load static %}

{% block title %}πchan{% endblock %}

{% block body_class %}
    
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'core/css/index.css' %}">
{% endblock %}

{% block content %}
    <nav class="d-flex justify-content-between main-bg-color-dark py-1 px-2">
        <div class="d-flex gap-1">
            {% for slug in slugs %}
                <a class="main-small-fs" href="{% url 'board' slug %}">/{{ slug }}/</a>
            {% endfor %}
        </div>
        <a class="main-small-fs" href="{% url 'home' %}">Home</a>
    </nav>
    <header class="py-3 px-3 main-border-bottom">
        <div class="d-flex align-items-center gap-1 mb-1">
            <h1 class="main-bigger-fs m-0 lh-1"><span class="main-accent-color fw-bold">/{{ current_board.slug }}/</span> - {{ current_board.name }}</h1>
            {% if current_board.is_nsfw %}
                <span class="mt-auto main-bg-color-dark text-danger fw-bold fst-italic main-smaller-fs p-1 lh-1">(NSFW)</span>
            {% endif %}
        </div>
        
        <p class="main-darker-font-color main-small-fs m-0">{{ current_board.description }}</p>
    </header>
    <div class="py-2 px-3 main-border-bottom">
        <!-- Button trigger modal -->
        <button type="button" class="main-btn main-normal-fs px-2 fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal">
            + New Thread
        </button>
    </div>
    <main class="d-flex flex-column gap-2 py-2 px-3">
        {% for thread in threads %}
            <div class="d-flex gap-2">
                {% if thread.image %}
                    <div class="d-flex flex-column">
                        <img class="thread-img" src="{{ thread.image.url }}" alt="">
                        <div class="d-flex justify-content-between my-1">
                            <span class="main-smaller-fs main-darker-font-color lh-1">File: <a href="{{ thread.image.url }}" class="lh-1">{{ thread.image.name|cut:"threads/" }}</a></span>
                            <span class="main-smaller-fs main-darker-font-color lh-1">({{ thread.image.size|filesizeformat }} {{ thread.image.width }}x{{ thread.image.height }})</span>
                        </div>
                    </div>
                {% endif %}
                <div class="d-flex gap-2 main-bg-color-light main-border p-2 w-auto">
                    <div class="d-flex flex-column">
                        <h2 class="fw-bold m-0 mb-1 lh-1 main-big-fs">{{ thread.title }}</h2>
                        <p class="main-small-fs m-0 h-100">{{ thread.content }}</p>
                        <div>
                            <span class="main-smaller-fs main-darker-font-color">{{ thread.created_at }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="main-hr">
        {% endfor %}
    </main>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header main-bg-color-light rounded-top-1 main-border-bottom">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">+ New Thread</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-theme="dark" aria-label="Close"></button>
                </div>
                <div class="main-bg-color modal-body">
                    <form method="post" action="{% url 'thread' current_board.slug %}" id="thread-form" class="d-flex flex-column gap-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in thread_form %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}
                    </form>
                </div>
                <div class="modal-footer main-bg-color-light main-border-top rounded-bottom-1">
                    <button type="button" class="main-neutral-btn py-1 px-2" data-bs-dismiss="modal">Close</button>
                    <button type="submit" form="thread-form" class="main-btn py-1 px-2">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    {% if thread_form.errors %}
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var modal = new bootstrap.Modal(document.getElementById('exampleModal'));
                modal.show();
            });
        </script>
    {% endif %}
{% endblock %}